<div class="listmovieswrapper">

    <div class="header">
        <div style="width:60%; text-align: left;">
            <h1>
                Movie World
            </h1>
            <div style="min-height:30px;">
                <span *ngIf="total_number_of_movies!=undefined">
                    Found {{total_number_of_movies}} movies
                </span>
            </div>
        </div>

        <div *ngIf="islogin">
            <div style="display:flex; justify-content: space-between;">

                <div>
                    <h5>
                        Welcome Back <span style="color:blue;">{{name}}</span>
                    </h5>

                </div>

                <div style="padding-left:5px;">
                    <i (click)="logout()" title="logout" 
                    class="bi bi-box-arrow-right customhover logout"></i>
                </div>




            </div>

        </div>
        <div *ngIf="!islogin">
            <button routerLink="/login" class="btn btn-info custom-button" style="width:150px;">


                Log in</button>




        </div>
        <div *ngIf="!islogin">
            <h3 style="font-family: 'Courier New', Courier, monospace;">
                or
            </h3>
        </div>

        <div *ngIf="!islogin">
            <button routerLink="/register" class="btn btn-primary custom-button" style="width:150px;">


                Sign Up</button>

        </div>

    </div>


    <div class="bodyarea">

        <div class="moviesarea">


            <div class="movie" *ngFor="let movie of movies">
                

                <div style="display: flex; justify-content: space-between; margin-bottom:10px;">

                    <div class="movietitle">
                        {{movie.title}}
                    </div>
                    
                    <div class="moviedate">
                        <span>
                            Posted
                        </span>
                        {{movie.date}}
                    </div>


                </div>




                <div class="moviedescription" style="margin-bottom:10px;">
                    {{movie.description}}
                </div>

                <div style="display: flex; justify-content: space-between;">

                    <div class="movielikes">
                       
                        

                        <span [style]="movie.maxlikes == 'true'? 'color:green; font-weight:700;' : ''">{{movie.likes}} Likes</span>
                        
                        <i  *ngIf="islogin && (movie.username != name)"  (click)="like(movie.id)" title="I like it!" style="margin-left:10px; color:blue; cursor:pointer;" class="bi bi-arrow-up-circle-fill"></i>
                    
                    
                        
                    </div>

                    <div class="moviehates">
                       
                        
                        <span [style]="movie.maxhates == 'true'? 'color:red; font-weight:700;' : ''">{{movie.hates}} Hates</span>
                 
                        <i *ngIf="islogin && (movie.username != name)" (click)="hate(movie.id)" title="I hate it!" style="margin-left:10px; color:red; cursor:pointer;" class="bi bi-arrow-down-circle-fill"></i>
                    </div>

                    <div *ngIf="islogin && (movie.reaction == 'LIKE' || movie.reaction == 'HATE' )">
                        Retracting ({{movie.reaction}})
                        <i (click)="retracting(movie.id)" title="I cancel!" class="bi bi-x-circle-fill" style="margin-left:10px; color:darkorange; cursor:pointer;"></i>
                    </div>


                    <div class="movieusername">
                        <span>
                            Posted by
                        </span>
                        <a href="javascript: void(0)" (click)="moviesByUser(movie.user_id)">
                            {{ movie.username == name ? 'You' : movie.username }}
                        </a>
                        
                    </div>


                </div>



            </div>






        </div>


        <div>
            <div *ngIf="islogin" style="margin-bottom: 20px;">
                <button routerLink="/newmovie" class="btn btn-success custom-button" style="width:150px;">


                    New Movie</button>
            </div>

            <div class="filters">

                <div style="border-bottom: 2px solid black;">
                    Sort by:
                </div>

                <div (click)="moviesByFilter('LIKES')" class="filter" style="border-bottom: 2px solid black; cursor: pointer;">
                    <span style="width:100px; display: inline-block;">
                        
                        Likes
                    
                    
                    </span>
                    <i class="bi bi-arrow-up-square-fill" style="color:green;"></i>
                </div>

                <div (click)="moviesByFilter('HATES')" class="filter" style="border-bottom: 2px solid black; cursor: pointer;">
                    <span style="width:100px; display: inline-block;">Hates</span>
                    <i class="bi bi-arrow-down-square-fill" style="color:red;"></i>

                </div>

                <div (click)="moviesByFilter('DATES')" class="filter" style="cursor: pointer;">
                    <span style="width:100px; display: inline-block;">Dates</span>
                    <i class="bi bi-calendar-week-fill" style="color:blue;"></i>
                </div>


            </div>

        </div>



    </div>


</div>