.listmovieswrapper{
    width:1300px;
    max-width: 1300px;
    min-width: 1300px;
    background-color:antiquewhite;
    margin: auto;
    text-align: center;
    padding: 20px;

}

.header{
display: flex;
justify-content: space-between;
/* gap: 10px;
gap: 10px 20px; 
row-gap: 10px;
column-gap: 20px; */
}

.bodyarea{

    display: flex;
    justify-content: space-between;
    margin-top: 20px;

}

.filters{
    /* position:relative; */
    /* left:811px; */
    background-color:aliceblue;
    width:150px;
    min-width: 150px;
    max-width:150px;
    height: 130px;
    max-height:130px;
    min-height:130px;
    border-radius: 20px;
    font-size: 20px;
    box-shadow: 4px 6px #888888;

}

.moviesarea{
    background-color:bisque;
    width: 750px;
    max-width:750px;
    min-width:750px;
    height: max-content;
    padding: 20px;
    margin-bottom: 10px;
    height: 700px;
    max-height:700px;
    min-height:700px;
    overflow-y: scroll;
}

.filter:hover{

    /* font-size: 21px; */
    font-weight: 500;
}


.moviedescription{
    text-align: left;
}

.movie{
    margin-bottom: 20px;
    padding: 20px;
    background-color: white;
    box-shadow: 4px 6px #888888;
}

.customhover:hover{
    /* font-weight: 900; */
     /* font-size:24px; */
     transform: rotate(360deg);
     transition: 0.9s;
}

.logout{
    position:relative; top:-4px; color:blue; font-size:23px; cursor:pointer;
    display: inline-block;
}


.movietitle{
    font-weight: 600;
    font-size: 20px;
    width: 60%;
    max-width: 60%;
    min-width: 60%;
    text-align: left;
    /* border-bottom: 1px solid bisque; */
}

.moviedescription{
    border-bottom: 1px solid bisque;
}