<button routerLink="/listofmovies" class="btn btn-secondary custom-button">


    List With Movies 
    <i class="bi bi-film" ></i>
</button>


<div class="newmoviewrapper">

    <form #movieForm="ngForm" (ngSubmit)="onSubmit()">

        <div class="custom-group mb-3" class="formfielscustom">
            <label for="title" class="form-label">Title</label>
            <input type="text" class="form-control" ngModel name="title" #title="ngModel" required >
            <div class="invalid-feedback" *ngIf="!title.valid && title.touched">
              Please provide a valid Title.
            </div>
          </div>



          <div class="custom-group mb-3" class="formfielscustom">
            <label for="description" class="form-label">Description</label>
            <!-- <input type="text" class="form-control" ngModel name="description" #description="ngModel" required > -->
            <textarea class="form-control" ngModel name="description" #description="ngModel" required>

            </textarea>
            <div class="invalid-feedback" *ngIf="!description.valid && description.touched">
              Please provide a valid Description.
            </div>
          </div>



          <button class="btn btn-primary custom-button" [disabled] = "!movieForm.valid" style="width:300px; min-width:300px;">
        
            <div *ngIf="isLoading" class="spinner-border" style="font-size:10px; width:15px; height:15px; color:white; vertical-align: middle;" role="status">
              <span class="sr-only"></span>
            </div>
        
        
            Submit</button>

            <p *ngIf="errorShow" style="text-align: center; color:red; margin-top: 10px; margin-bottom: 0px;;">
              Σφάλμα κατά την δημιουργία καταχώρισης!
            </p>

            <p *ngIf="successShow" style="text-align: center; color:green; margin-top: 10px; margin-bottom: 0px;;">
              Επιτυχής δημιουργία καταχώρισης!
            </p>

    </form>

</div>