@import "~bootstrap-icons/font/bootstrap-icons.css";
.wrapper {
    width: 350px;
    max-width: 350px;
    min-width: 350px;
    /* height: 300px; */
    min-height: 300px;
    /* max-height: 300px; */
    margin: 80px auto;
    margin-bottom: 20px;
    padding: 25px 30px 30px 30px;
    background-color: #ecf0f3;
    border-radius: 15px;
    box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #fff;
  }
  
  
  .wrapper-error {
    width: 350px;
    max-width: 350px;
    min-width: 350px;
    height: 300px;
    min-height: 300px;
    max-height: 300px;
    margin:  0px auto;
    text-align: center;
  
  
  }
  
  
  .invalid-feedback {
    display: block !important;
  }
  
  input.ng-invalid.ng-touched {
    border: 1px solid red;
  }
  
  .custom-group {
    height: 90px;
    min-height: 90px;
    max-height: 90px;
  }
  
  .custom-button {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
  }


  .content-wrapper-mycustom {
    overflow: hidden;
    /* padding: 0 1rem 0 1rem; */
    width:calc(100% - 280px);
    max-width:calc(100% - 280px);
    min-width:calc(100% - 280px);

    min-height: calc(100vh - 200px);
    max-height: calc(100vh - 200px); 
    height: calc(100vh - 200px);
    
    background-color: whitesmoke;
    margin-left: 270px; 
    padding: 20px;
    margin-top: 10px; 
    border-radius: 0.5rem;
    overflow-x: auto;
    overflow-y: auto;
    
}

.title-page{
    background-color: whitesmoke;
    margin-left: 270px; 
    padding: 20px;
    margin-top: 10px; 
    border-radius: 0.5rem;
    width:calc(100% - 280px);
    max-width:calc(100% - 280px);
    min-width:calc(100% - 280px);
    color:#0d6efd;
    /* font-family:'Times New Roman', Times, serif; */
}


body{
    overflow: hidden !important;
    /* font-size:30px; */
  }

  label{
    font-size:20px;
    font-family:sans-serif;
  }

  .header-page_title{
    display: inline-block; margin-left: 10px;
    font-size:20px;
    font-family:sans-serif;
    font-weight:600;
  }


  input[type="text"]
{
    font-size:20px!important;
    color:black!important;
    font-family:sans-serif!important;
}



select{
    font-size:20px!important;
    color:black!important;
    font-family:sans-serif!important;

}

.button-text-class{
    display: inline-block; margin-left: 10px;
    font-size:20px;
    font-family:sans-serif;
    /* font-weight:600; */
}

.button-icon-class{
    font-size:25px!important;
    display: inline-block;
    margin-left: 10px;
}

.spinner-in-button{
    font-size:15px; width:20px; height:20px; color:white; vertical-align: middle;
}


.formfielscustom{
  text-align: left;
  margin-bottom: 20px;
}