
<div style="display:flex; justify-content: space-between; ">

  <button style="width:50%; min-width:50%; max-width:50%;" routerLink="/listofmovies" class="btn btn-secondary custom-button">


    List With Movies 
    <i class="bi bi-film"></i>
  </button>



  <button style="width:50%; min-width:50%; max-width:50%;" routerLink="/login" class="btn btn-info custom-button">
  
  
      Login
     
  </button>




</div>

<div class="wrapper">

    <form #authForm="ngForm" (ngSubmit)="onSubmit()">
      
      
      <div class="custom-group mb-3">
        <label for="name" class="form-label">Name</label>
        <input type="text" class="form-control" ngModel name="name" #name="ngModel" required minlength="5">
        <div class="invalid-feedback" *ngIf="!email.valid && email.touched">
          Please provide a valid name.
        </div>
      </div>






      <div class="custom-group mb-3">
        <label for="exampleInputEmail1" class="form-label">Email</label>
        <input type="email" class="form-control" ngModel name="email" #email="ngModel" required email >
        <div class="invalid-feedback" *ngIf="!email.valid && email.touched">
          Please provide a valid email.
        </div>
      </div>




      <div class="custom-group mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" class="form-control" name="password" ngModel #password="ngModel" required minlength="6">
        <div class="invalid-feedback" *ngIf="!password.valid && password.touched">
          Please provide a valid password.
        </div>
      </div>


      <div class="custom-group mb-3">
        <label for="passwordconfirm" class="form-label">Confirm Password</label>
        <input type="password" class="form-control" name="passwordconfirm" ngModel #passwordconfirm="ngModel" required minlength="6">
        <div class="invalid-feedback" *ngIf="(!passwordconfirm.valid && passwordconfirm.touched) || (passwordconfirm.value != password.value && passwordconfirm.touched)">
          Please provide a valid  confirm password.
        </div>
      </div>





      <button class="btn btn-primary custom-button" [disabled] = "!authForm.valid || !(passwordconfirm.value == password.value && passwordconfirm.touched)">
        
        <div *ngIf="isLoading" class="spinner-border" style="font-size:10px; width:15px; height:15px; color:white; vertical-align: middle;" role="status">
          <span class="sr-only"></span>
        </div>
    
    
        Register</button>
        <p *ngIf="errorShow" style="text-align: center; color:red; margin-top: 10px; margin-bottom: 0px;;">
          Σφάλμα κατά την δημιουργία χρήστη!
        </p>
    </form>
    
    </div>
    
    <div class="wrapper-error">
    <div class="alert alert-danger" *ngIf="error">
      <p>{{ error }}</p>
    </div>
    </div>